/* @tailwind base;
@tailwind components;
@tailwind utilities; 

Zmiana używania z tailwinda na własne klasy
*/

.p-10 {
    padding: 10;
}

.p-15 {
    padding: 15;
}

.p-20 {
    padding: 20;
}


.m-5 {
    margin: 5;
}

.m-10 {
    margin: 10;
}

.m-20 {
    margin: 20;
}


.m-t-10 {
    margin-top: 10;
}

.m-t-20 {
    margin-top: 20;
}

.m-b-5 {
    margin-bottom: 5;
}

.m-b-10 {
    margin-bottom: 10;
}

.m-b-20 {
    margin-bottom: 20;
}

.p-l-10 {
    padding-left: 10;
}

.p-r-10 {
    padding-right: 10;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: bold;
}

.rounded {
    border-radius: 15;
}

.bg-white {
    background-color: #FFFFFF;
}

.border {
    border-width: 1;
    border-color: #E5E7EB;
}


Page {
    background-color: #F7F8FA; 
    font-family: sans-serif;
}

ActionBar {
    background-color: #BDB2FF;
    color: white;
}

.btn-primary {
    background-color: #A0C4FF;
    color: white;
    border-width: 0;
}

.btn-danger {
    background-color: #FFADAD;
    color: white;
    border-width: 0;
}

.btn-outline {
    background-color: white;
    color: #A0C4FF;
    border-color: #A0C4FF;
    border-width: 2;
}

.text-danger {
    color: #FFADAD;
    border-color: #FFADAD
}

TextField, TextView {
    background-color: #FFFFFF;
    border-color: #E0E0E0;
    border-width: 1;
    border-radius: 20;
    padding: 15;
    placeholder-color: #A0A0A0;
    color: #333333;
    font-size: 16;
}

.list-group StackLayout {
    background-color: #FFFFFF;
    margin: 8 15;
    padding: 15;
    border-radius: 20;
    border-width: 1;
    border-color: #F0F0F0;
}

.h1 {
    font-size: 24;
    color: #BDB2FF;
}

.h2 {
    font-size: 20;
    color: #333333;
}

.h3 {
    font-size: 18;
    color: #555555;
}

.text-muted {
    color: #9CA3AF;
}

.text-small {
    font-size: 12;
}

.text-medium {
    font-size: 16;
}

/* Switch[checked=true] {
    color: #CAFFBF;
    background-color: #CAFFBF;
} */